{% extends 'todayblog/base.html' %}


{% block content %}
    <h4><a href="{% url 'free_post_list' %}">글 목록보기</a></h4>
    <div class="post">
        <div class="date">
            <p>published: {{ post_key.published_date }}</p>
        </div>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'free_post_edit' pk=post_key.pk %}">
                <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'free_post_remove' pk=post_key.pk %}">
                <span class="glyphicon glyphicon-remove"></span></a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-default">
                <span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1>{{ post_key.title }}</h1>
        <p>{{ post_key.text| linebreaksbr }}</p>

        <hr>
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post_key.pk %}">Add comment</a>
        {% for comment in post_key.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
                <div class="comment">
                    <div class="date">{{ comment.created_date }}
                        {% if not comment.approved_comment %}
                            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                                <span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                                <span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                    </div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}
                    <hr>
                    </p>
                </div>
            {% endif %}
        {% empty %}
            <p>No comments here yet </p>
        {% endfor %}
    </div>
{% endblock %}